body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.8;
	color: #f5f6f7;
}

.navbar{
			padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
}

.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}

.slide {
	min-height: 750px;
	margin-bottom: 0;
	opacity: 0.25;
	background: url(images/ParliamentHill.jpg);
  background-color: inherit;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
