body{	
	margin: 0;
    color: #DCDCDC;
    background-color: #DCDCDC;
    font-family: 'Rubik', sans-serif;
}

#loading{
    position: fixed;
    height: 100%;
    width: 100%;
    background: #DCDCDC;
    z-index:9999;
}


.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow:0px 1px 1px #4B4B4B;
    -moz-box-shadow:0px 1px 1px #4B4B4B;
    box-shadow:0px 1px 1px #4B4B4B; 
    padding: 5vh;
}

.section-parallax{
    height: 100vh;
	background-image: url(../assets/Himalayas.gif);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-white{
    color: #203051;
    background: #DCDCDC;
    text-align: center;
}

.section-blue{
    background: #203051;
    text-align: center;
}

#main-title{
    font-size: 4vw;
    margin: 0px;
    text-align: center;
}

#subtitle{
    font-size: 2vw;
    margin: 0px;
    text-align: center;
    text-decoration: none;
}

#resume{
    float:left; 
    text-decoration: none;
    padding: 5vh 0 0 20vw;
}

#github{
    float: right;
    text-decoration: none;
    padding: 5vh 20vw 0 0;
}

.title{
    font-size: 2vw;
    margin: 10px 0px;
    text-decoration: underline;
}

.text{
    font-size: 1.5vw;
    padding: 0vh 15vw;
}

 a, a:visited, a:active{
    font-size: 1.5vw;
    color:inherit;
 }

@media screen and (max-width: 1000px) {
    #main-title{
        font-size: 6vw;
    }

    #subtitle, .title{
        font-size: 4vw;
    }

    .text{
        font-size: 3vw;    
        padding: 0vh 5vw;
    }

    a, a:visited, a:active{
        font-size: 3vw;
    }
}

@media screen and (max-width: 500px) {
    #main-title{
        font-size: 7vw;
    }

    #subtitle, .title{
        font-size: 5vw;
    }

    .text, a, a:visited, a:active{
        font-size: 4vw;
        padding: 0;
    }
}