body{
	font-family: 'Montserrat', sans-serif;	
	margin: 0px;
}

div{
    position: relative;
}

.header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-parallax{
	background-image: url(../images/Himalayas.gif);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

#Title{
    color: #E0E0E2;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    margin: 0px;
    text-align: center;
}

#Subtitle{
    color: #E0E0E2;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    margin: 0px;
    text-align: center;
}

@media screen and (max-width: 300px) {
    #Title{
        font-size: 8vw;
    }

    #Subtitle{
        font-size: 6vw;
    }
}